{{#with project}}

<div class="iso-container">
    <img src="/images/{{url}}/iso/iso1.png" alt="" class="iso1 start{{iso.iso1.start}} end{{iso.iso1.end}}">
    <img src="/images/{{url}}/iso/iso2.png" alt="" class="iso2 start{{iso.iso2.start}} end{{iso.iso2.end}}">
    <img src="/images/{{url}}/iso/iso3.png" alt="" class="iso3 start{{iso.iso3.start}} end{{iso.iso3.end}}">
</div>

{{/with}}