<!DOCTYPE html>
<html lang="en" class="{{#if bg_white}}bg-white{{/if}}">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{description}}" />
  <meta name="keywords"
    content="Emily Nguyen, brand design, visual design, interaction design, ux design, product design, front-end development, ux engineering">
  <meta property="og:title" content="{{title}}">
  <meta name="author" content="Emily Nguyen">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://emilynguyen.co/images/_site/preview.png">
  <meta property="og:url" content="http://emilynguyen.co/{{url}}">
  <meta property="og:description" content="{{description}}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113482074-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-113482074-1');
  </script>



  <!-- Favicons -->
  <link media="(prefers-color-scheme:light)" rel="apple-touch-icon" sizes="180x180"
    href="/images/_favicons/dark/apple-touch-icon.png">
  <link media="(prefers-color-scheme:light)" rel="icon" type="image/png" sizes="32x32"
    href="/images/_favicons/dark/favicon-32x32.png">

  <link media="(prefers-color-scheme:light)" rel="icon" type="image/png" sizes="16x16"
    href="/images/_favicons/dark/favicon-16x16.png">
  <link media="(prefers-color-scheme:light)" rel="manifest" href="/images/_favicons/dark/site.webmanifest">
  <link media="(prefers-color-scheme:light)" rel="mask-icon" href="/images/_favicons/dark/safari-pinned-tab.svg"
    color="#161616">
  <link media="(prefers-color-scheme:light)" rel="shortcut icon" href="/images/_favicons/dark/favicon.ico">
  <!-- Dark mode -->
  <link media="(prefers-color-scheme:dark)" rel="apple-touch-icon" sizes="180x180"
    href="/images/_favicons/light/apple-touch-icon.png">
  <link media="(prefers-color-scheme:dark)" rel="icon" type="image/png" sizes="32x32"
    href="/images/_favicons/light/favicon-32x32.png">

  <link media="(prefers-color-scheme:dark)" rel="icon" type="image/png" sizes="16x16"
    href="/images/_favicons/light/favicon-16x16.png">
  <link media="(prefers-color-scheme:dark)" rel="manifest" href="/images/_favicons/light/site.webmanifest">
  <link media="(prefers-color-scheme:dark)" rel="mask-icon" href="/images/_favicons/light/safari-pinned-tab.svg"
    color="#161616">
  <link media="(prefers-color-scheme:dark)" rel="shortcut icon" href="/images/_favicons/light/favicon.ico">
  <meta name="msapplication-TileColor" content="#161616">
  <meta name="msapplication-config" content="/images/_favicons/light/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- main.css -->
  <link href="/css/main.css" rel="stylesheet" type="text/css">

  <title>{{title}}</title>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/favicon-switcher@1.2.2/dist/index.js" crossorigin="anonymous"
    type="application/javascript"></script>
</head>

<body class="{{#if noFooter}}no-footer{{/if}} {{#if noHeader}}no-header{{/if}}">
  <div id="content">
    {{> header}}
    {{{body}}}
    {{> footer}}
  </div>

  <div id="close-all-btn" onclick="closeMemes()">
    <h4>Close All ✕</h4>
  </div>
  <div class="link-underline popup closed bio">
    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
    <div class="bar">me.txt<div class="close">✕</div>
    </div>
    <div class="text">
      <p>Hello! 👋</p>
      <p>
        I’m a visual + product designer and front-end developer based in San Francisco. I love crafting visual
        experiences
        and seeing them through to implementation. </p>
      <p>
        Currently, I’m a visual designer at <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>.
        Previously,
        I’ve
        been at <a href="https://www.voxmedia.com/" target="_blank">Vox Media</a> and <a href="https://salesforce.com"
          target="_blank">Salesforce</a>.</p>
      <p>
        I enjoy BROCKHAMPTON, 2000s pop punk, Animal Crossing, Brooklyn Nine-Nine, and memes.
      </p>
    </div>
  </div>
  {{#with memes}}
  {{#each memes}}
  {{#unless hide}}
  <div class="popup closed">
    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
    <div class="bar">{{title}}<div class="close">✕</div>
    </div>
    <div>
      <img src="/images/memes/{{src}}">
    </div>
  </div>
  {{/unless}}
  {{/each}}
  {{/with}}
</body>

</html>




<script>
  // GLOBAL VARS
  var POPUPS = document.getElementsByClassName('popup');
  var TOPINDEX = 100; // track zindex of top element
  var TOUCH = false;
  window.addEventListener('touchstart', function () {
    // the user touched the screen!
    TOUCH = true;
  });

  /* name: dragElement
   * description: makes popup windows draggable
   * parameters: elmnt - element to be made draggable
   * return: n/a
   */
  function dragElement(elmnt) {
    // randomize responsive start position within window unless bio
    if (!$(elmnt).hasClass('bio')) {
      var xRange = $("body").width() - $(elmnt).width();
      var yRange = $("body").height() - $(elmnt).height();
      var xMaxPercent = xRange / $(document).width();
      var yMaxPercent = yRange / $(document).height();
      var posx = xMaxPercent * Math.random() * 100;
      var posy = yMaxPercent * Math.random() * 100;
      // set position
      elmnt.style.top = posx + "%";
      elmnt.style.left = posy + "%";
    }
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    if (document.getElementById(elmnt.id + "header")) {
      // if present, the header is where you move the DIV from:
      document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
    } else {
      // otherwise, move the DIV from anywhere inside the DIV:
      elmnt.onmousedown = dragMouseDown;
    }

    function dragMouseDown(e) {
      e = e || window.event;
      e.preventDefault();
      // move to front
      elmnt.style.zIndex = TOPINDEX += 1;

      // get the mouse cursor position at startup:
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      // call a function whenever the cursor moves:
      document.onmousemove = elementDrag;
    }

    function elementDrag(e) {
      e = e || window.event;
      e.preventDefault();
      // calculate the new cursor position:
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
      // set the element's new position:
      elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
      elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
    }

    function closeDragElement() {
      // stop moving when mouse button is released:
      document.onmouseup = null;
      document.onmousemove = null;

    }
  }

  /* name: openMemes
   * description: opens all meme popups
   * parameters: n/a
   * return: n/a
   */
  function openMemes() {
    $('#close-all-btn').fadeIn("fast");
    (function myLoop(i) {
      setTimeout(function () {
        var $popup = $(POPUPS[i]);

        // OPEN
        $popup.removeClass("closed");
        dragElement($popup[0]);

        if (--i >= 0) myLoop(i);      //  decrement i and call myLoop again if i > 0
      }, 50)
    })(POPUPS.length - 1);
  }

  /* name: closeMemes
   * description: closes all meme popups and resets their z-indices
   * parameters: n/a
   * return: n/a
   */
  function closeMemes() {
    $('#close-all-btn').fadeOut("fast");
    (function myLoop(i) {
      setTimeout(function () {
        var $popup = $(POPUPS[i]);

        // CLOSE
        $popup.addClass("closed");
        // reset z-index to 100
        $popup.css("z-index", '100');
        // if bio, reset index to 101
        if ($popup.hasClass('bio')) {
          $popup.css("z-index", '101');
        }

        if (--i >= 0) myLoop(i);      //  decrement i and call myLoop again if i > 0
      }, 50)
    })(POPUPS.length - 1);
  }

  /* name: allMemesClosed
   * description: returns true if all memes are closed
   * parameters: n/a
   * return: boolean
   */
  function allMemesClosed() {
    return document.getElementsByClassName('closed').length == POPUPS.length;
  }

  /************** LISTENERS ***************/

  // open popup window
  $('.meme-btn').click(function (e) {
    // return if touch device
    if (TOUCH) return;

    e.preventDefault;

    if (allMemesClosed()) {
      openMemes();
    } else {
      closeMemes();
    }

    return false;
  });

  // close popup window
  $('.popup .close').mousedown(function () {
    $(this).closest('.popup').addClass("closed");
    // if all memes are closed -> hide close all btn
    if (allMemesClosed()) {
      $('#close-all-btn').hide();
    }
  });
</script>