{{#with currProject}}

<div id="project-page" class="mt-2 mb-4 portable--mb-3">
  <div class="grid">
    <div class="grid__item mb-3 portable--mb-2">
      {{#ifCond landing "!=" "none"}}
      <img src="/images/{{landing}}" alt="{{title}}">
      {{/ifCond}}
    </div>
    <div class="grid__item {{@root.col1}}">
      <h2 class="portable--mb-2">{{title}}</h2>
      {{#if button}}<div class="mt-2 portable--mb-2"><a class="btn" href="{{button.link}}" target="_blank">{{button.title}}</a></div>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">

      <div class="grid">
        <div class="grid__item mb-2">
          {{{overview}}}
        </div>
        {{#each details}}
        <div class="grid__item one-half {{#if wide}}palm--one-whole{{/if}} mb-2">
          <h4>{{title}}</h4>
          <p>{{{content}}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{#each blocks}}
  {{#unless hide}}
  <div class="grid mt-3 portable--mt-3">


    <!-- TEXT -->


    {{#if text}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}<h2 class="sub portable--mb-2">{{title}}</h2>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">
      {{{content}}}
    </div>

    <!-- IMAGE -->

    {{else if image}}
    {{#ifCond captionBefore "||" title}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}
      <h2 class="sub mb-3 portable--mb-1 {{#if captionBefore}}portable--mb-2{{/if}}">{{title}}</h2>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">{{{captionBefore}}}</div>
    {{/ifCond}}
    <div class="grid__item">
      <img class="{{#if border}}border{{/if}} {{#if captionBefore}}mt-3 portable--mt-2{{/if}} {{#if captionAfter}}desk--mb-3{{/if}}"
        src="/images/{{content}}" alt="{{alt}}">
    </div>
    {{#if captionAfter}}
    <div class="grid__item {{@root.col1}}"></div>
    <div class="grid__item {{@root.col2}}">{{{captionAfter}}}</div>
    {{/if}}
    {{/if}}

    <!-- GALLERY -->
    {{#if gallery}}
    {{#each content}}
    <div class="grid__item lap-up--one-half mb-3 portable--mb-2">
      <img src="/images/{{image}}" alt="{{alt}}" class="{{#if border}}border{{/if}}">
    </div>
    {{/each}}
    {{/if}}

  </div>
  {{/unless}}
  {{/each}}

</div>





{{/with}}