{{#with currProject}}

<div id="project-page" class="mt-2 mb-3">
  <div class="grid">
    <div class="grid__item mb-3">
      {{#ifCond landing "!=" "none"}}
      <img class="{{#if border}}border{{/if}}" src="/images/{{landing}}" alt="{{title}}">
      {{/ifCond}}
    </div>
    <div class="grid__item {{@root.col1}}">
      <h2 class="portable--mb-2">{{title}}</h2>
      {{#if button}}<div class="mt-2 portable--mb-2 portable--hide"><a class="btn" href="{{button.link}}"
          target="_blank">{{button.title}}</a></div>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">

      <div class="grid">
        <div class="grid__item">
          {{{overview}}}
        </div>
        {{#each details}}
        <div class="grid__item mt-2 one-half {{#if wide}}palm--one-whole{{/if}} ">
          <h4>{{title}}</h4>
          <p>{{{content}}}</p>
        </div>
        {{/each}}
        <div class="grid__item">
          {{#if button}}<div class="mt-2 desk--hide"><a class="btn" href="{{button.link}}"
              target="_blank">{{button.title}}</a>
          </div>{{/if}}
        </div>
      </div>
    </div>
  </div>
  {{#each blocks}}
  {{#unless hide}}
  <div class="grid mt-3 portable--mt-3">

    <!-- TEXT -->
    {{#if text}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}<h2 class="sub portable--mb-2">{{title}}</h2>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">
      {{{content}}}
    </div>
    {{/if}}

    <!-- IMAGE -->
    {{#if image}}
    {{#ifCond captionBefore "||" title}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}
      <h2 class="sub mb-3 portable--mb-1 {{#if captionBefore}}portable--mb-2{{/if}}">{{title}}</h2>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">{{{captionBefore}}}</div>
    {{/ifCond}}
    <div class="grid__item">
      {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
        <img
          class="{{#if border}}border{{/if}} {{#if captionBefore}}mt-3 portable--mt-2{{/if}} {{#if captionAfter}}desk--mb-3{{/if}}"
          src="/images/{{content}}" alt="{{alt}}">{{#if link}}</a>{{/if}}
    </div>
    {{#if captionAfter}}
    <div class="grid__item {{@root.col1}}"></div>
    <div class="grid__item {{@root.col2}}">{{{captionAfter}}}</div>
    {{/if}}
    {{/if}}

    <!-- GALLERY -->
    {{#if gallery}}
    {{#ifCond captionBefore "||" title}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}
      <h2 class="sub mb-3 portable--mb-1 {{#if captionBefore}}portable--mb-2{{/if}}">{{title}}</h2>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">{{{captionBefore}}}</div>
    {{/ifCond}}
    {{#if square}}
    <!-- square gallery -->
    {{#each content}}
    <div class="grid__item mb-1 lap--mb-2 desk--mb-3 lap-up--one-half ">
      <img src="/images/{{image}}" alt="{{alt}}" {{#if border}} class="border" {{/if}}>
    </div>
    {{/each}}
    <!-- end square gallery -->
    <!-- block gallery -->
    {{else if block}}
    {{#each content}}
    {{#if full}}
    <div class="grid__item mb-1 lap--mb-2 desk--mb-3">
      {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
        <img src="/images/{{image}}" alt="{{alt}}" {{#if border}} class="border" {{/if}}>{{#if link}}</a>{{/if}}
    </div>
    {{/if}}
    {{#if half}}
    <div class="grid__item mb-1 lap--mb-2 desk--mb-3 lap-up--one-half ">
      <img src="/images/{{image}}" alt="{{alt}}" {{#if border}} class="border" {{/if}}>
    </div>
    {{/if}}

    {{/each}}

    <!-- end block gallery -->
    <!-- masonry gallery -->
    {{else}}
    <!-- 2 cols -->
    <div class="grid__item one-half palm--hide">
      {{#each content}}
      {{#if col1}}
      <img src="/images/{{image}}" alt="{{alt}}" class="lap--mb-2 desk--mb-3 {{#if border}}border{{/if}}">
      {{/if}}
      {{/each}}
    </div>
    <div class="grid__item one-half palm--hide">
      {{#each content}}
      {{#if col2}}
      <img src="/images/{{image}}" alt="{{alt}}" class="lap--mb-2 desk--mb-3 {{#if border}}border{{/if}}">
      {{/if}}
      {{/each}}
    </div>
    <!-- 1 col (palm) -->
    {{#each content}}
    <div class="grid__item lap-up--hide">
      <img src="/images/{{image}}" alt="{{alt}}" class="mb-1 {{#if border}}border{{/if}}">
    </div>
    {{/each}}
    {{/if}}
    <!-- /#if square -->
    {{/if}}
    <!-- /#if gallery -->

    {{#if pdf}}
    {{#ifCond captionBefore "||" title}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}
      <h2 class="sub mb-3 portable--mb-1 {{#if captionBefore}}portable--mb-2{{/if}}">{{title}}</h2>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">{{{captionBefore}}}</div>
    {{/ifCond}}
    <div class="grid__item">

      <iframe
        class="{{#if border}}border{{/if}} {{#if captionBefore}}mt-3 portable--mt-2{{/if}} {{#if captionAfter}}desk--mb-3{{/if}}"
        src="{{content}}"></iframe>


    </div>
    {{#if captionAfter}}
    <div class="grid__item {{@root.col1}}"></div>
    <div class="grid__item {{@root.col2}}">{{{captionAfter}}}</div>
    {{/if}}
    {{/if}}
    <!-- /#if pdf -->
  </div>
  {{/unless}}
  {{/each}}
</div>
{{/with}}

<div class="grid mb-4 arrows portable--hide">
  <div class="grid__item desk--one-half portable--mb-1">
    <h2><a href="/{{./prevProject.url}}" style="text-decoration: none">← {{./prevProject.title}}</a></h2>
  </div>
  <div class="next-project grid__item lap-up--one-half">
    <h2><a href="/{{./nextProject.url}}" style="text-decoration: none"> {{./nextProject.title}} →</a></h2>
  </div>
</div>

<div class="grid mb-4 arrows desk--hide">
  <div class="grid__item desk--one-half portable--mb-1">
    <h3><a href="/{{./prevProject.url}}" style="text-decoration: none">← {{./prevProject.title}}</a></h3>
  </div>
  <div class="next-project grid__item lap-up--one-half">
    <h3><a href="/{{./nextProject.url}}" style="text-decoration: none"> {{./nextProject.title}} →</a></h3>
  </div>
</div>