{{#with currProject}}

<main id="project-page">
  <div class="grid styled-links">
    <div class="grid__item desk--one-half mb-2">
      <h1>{{title}}</h1>
      <h2 class="text-right date">/{{year}}</h2>
    </div>
    <div class="grid__item desk--one-half mb-2">
      <h4>{{{description}}}</h4>
      {{#if details}}
      <div class="grid mt-1 details">
        {{#each details}}
        <div class="grid__item">
          <h3 class="asterisks">{{title}}</h3>
          <h4>
            {{{content}}}
          </h4>
        </div>
        {{/each}}
        {{#if button}}
        <div class="grid__item">
          <a class="btn" href="{{button.link}}" target="_blank">{{button.title}}</a>
        </div>{{/if}}
      </div>
      {{/if}}
    </div>

  </div>
  <!--
  <div class="grid hide">
    <div class="grid__item mb-2">

      {{#ifCond landing "!=" "none"}}
      <img src="/images/{{landing}}" alt="{{title}}">
      {{/ifCond}}
    </div>
    <div class="grid__item {{@root.col1}}">
      <h1 class="mb-2">{{title}}</h1>

      {{#if button}}<div class="portable--mb-2 portable--hide"><a class="btn" href="{{button.link}}"
          target="_blank">{{button.title}}</a></div>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">

      {{#ifCond overview "||" details}}
      <div class="grid">
        <div class="grid__item">
          {{{overview}}}
        </div>
        {{#each details}}
        <div class="grid__item mt-2 one-half {{#if wide}}palm--one-whole{{/if}} ">
          <h3 class="mb-1">{{title}}</h3>
          <p>{{{content}}}</p>
        </div>
        {{/each}}
        <div class="grid__item">
          {{#if button}}<div class="mt-2 desk--hide"><a class="btn" href="{{button.link}}"
              target="_blank">{{button.title}}</a>
          </div>{{/if}}
        </div>
      </div>
      {{/ifCond}}
    </div>
  </div>
  -->
  <hr>
  {{#each blocks}}
  {{#unless hide}}


  <div class="grid grid--narrow pt-2 portable--pt-2 block">


    <!-- TEXT -->
    {{#if text}}
    <div class=" grid__item {{@root.col1}}">
      {{#if title}}<h3 class="sub portable--mb-2 title">{{title}}</h3>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">
      {{{content}}}
    </div>
    {{/if}}

    <!-- IMAGE -->
    {{#if image}}
    {{#ifCond captionBefore "||" title}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}
      <h3 class="sub mb-2 portable--mb-1 title {{#if captionBefore}}portable--mb-2{{/if}}">{{title}}</h3>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">{{{captionBefore}}}</div>
    {{/ifCond}}
    <div class="grid__item">
      {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
        <img class="{{#if captionBefore}}mt-2 portable--mt-2{{/if}} {{#if captionAfter}}desk--mb-2{{/if}}"
          src="/images/{{content}}" alt="{{alt}}">{{#if link}}</a>{{/if}}
    </div>
    {{#if captionAfter}}
    <div class="grid__item {{@root.col1}}"></div>
    <div class="grid__item {{@root.col2}}">{{{captionAfter}}}</div>
    {{/if}}
    {{/if}}

    <!-- GALLERY -->
    {{#if gallery}}
    {{#ifCond captionBefore "||" title}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}
      <h3 class="title sub mb-2 portable--mb-1 {{#if captionBefore}}portable--mb-2{{/if}}">{{title}}</h3>{{/if}}
    </div>
    <div class="grid__item mb-2 portable--mb-2 {{@root.col2}}">{{{captionBefore}}}</div>
    {{/ifCond}}
    {{#if square}}
    <!-- square gallery -->
    {{#each content}}
    <div class="grid__item mb-1 lap-up--mb-1 lap-up--one-half ">
      <img src="/images/{{image}}" alt="{{alt}}">
    </div>
    {{/each}}
    <!-- end square gallery -->
    <!-- block gallery -->
    {{else if block}}
    {{#each content}}
    {{#if full}}
    <div class="grid__item {{#unless @last}}mb-1 lap-up--mb-1 {{/unless}}">
      {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
        <img src="/images/{{image}}" alt="{{alt}}">{{#if link}}</a>{{/if}}
    </div>
    {{/if}}
    {{#if half}}
    <div class="grid__item mb-1 lap-up--mb-1 lap-up--one-half ">
      <img src="/images/{{image}}" alt="{{alt}}">
    </div>
    {{/if}}

    {{/each}}

    <!-- end block gallery -->
    <!-- masonry gallery -->
    {{else}}
    <!-- 2 cols -->
    <div class="grid__item one-half palm--hide">
      {{#each content}}
      {{#if col1}}
      <img src="/images/{{image}}" alt="{{alt}}" class="lap--mb-2 desk--mb-2 ">
      {{/if}}
      {{/each}}
    </div>
    <div class="grid__item one-half palm--hide">
      {{#each content}}
      {{#if col2}}
      <img src="/images/{{image}}" alt="{{alt}}" class="lap--mb-2 desk--mb-2 ">
      {{/if}}
      {{/each}}
    </div>
    <!-- 1 col (palm) -->
    {{#each content}}
    <div class="grid__item lap-up--hide">
      <img src="/images/{{image}}" alt="{{alt}}" class="mt-1 ">
    </div>
    {{/each}}
    {{/if}}
    <!-- /#if square -->
    {{/if}}
    <!-- /#if gallery -->

    {{#if pdf}}
    {{#ifCond captionBefore "||" title}}
    <div class="grid__item {{@root.col1}}">
      {{#if title}}
      <h3 class="title sub mb-2 portable--mb-1 {{#if captionBefore}}portable--mb-2{{/if}}">{{title}}</h3>{{/if}}
    </div>
    <div class="grid__item {{@root.col2}}">{{{captionBefore}}}</div>
    {{/ifCond}}
    <div class="grid__item">

      <iframe class="{{#if captionBefore}}mt-3 portable--mt-2{{/if}} {{#if captionAfter}}desk--mb-2{{/if}}"
        src="{{content}}"></iframe>


    </div>
    {{#if captionAfter}}
    <div class="grid__item {{@root.col1}}"></div>
    <div class="grid__item {{@root.col2}}">{{{captionAfter}}}</div>
    {{/if}}
    {{/if}}
    <!-- /#if pdf -->
  </div>
  {{/unless}}
  {{/each}}
  {{/with}}
  <hr class="mt-2">
  <div class="grid mt-2 mb-3">

    <div class="grid__item lap-up--one-half palm--mb-2">
      <a href="/{{prevProject.url}}" class="next-project-link">
        <div class="grid grid--rev">
          <div class="grid__item desk--four-fifths text-right">
            <h3>{{prevProject.title}}</h3>
          </div>
          <div class="grid__item desk--one-fifth">
            <h3>←</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="grid__item lap-up--one-half">
      <a href="/{{nextProject.url}}" class="next-project-link">
        <div class="grid">
          <div class="grid__item desk--four-fifths">
            <h3>{{nextProject.title}}</h3>
          </div>
          <div class="grid__item desk--one-fifth text-right">
            <h3>→</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</main>


<!--
<div class="grid mb-4 arrows portable--hide">
  <div class="grid__item desk--one-half portable--mb-1">
    <h3><a href="/{{./prevProject.url}}" style="text-decoration: none">
        < {{./prevProject.title}}</a>
    </h3>
  </div>
  <div class="next-project grid__item lap-up--one-half">
    <h3><a href="/{{./nextProject.url}}" style="text-decoration: none"> {{./nextProject.title}} ></a></h3>
  </div>
</div>

<div class="grid mb-4 arrows desk--hide">
  <div class="grid__item desk--one-half portable--mb-1">
    <h3><a href="/{{./prevProject.url}}" style="text-decoration: none">
        < {{./prevProject.title}}</a>
    </h3>
  </div>
  <div class="next-project grid__item lap-up--one-half">
    <h3><a href="/{{./nextProject.url}}" style="text-decoration: none"> {{./nextProject.title}} ></a></h3>
  </div>
</div>
-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>