<div id="my-work-block" class="grid grid--wide mb-2 mt-4 portable--mt-3">
  <!--
  <div class=" grid__item ">
    <h2 class=" mb-3 portable--mb-2">Work </h2>
  </div> -->


  {{#each gallery}}
  {{#unless hide}}
  <div class="grid__item desk--{{size}} lap--one-half mb-4 portable--mb-3">
    <a class="project-link" href="/{{url}}">
      <div class="project-container">
        <div class="bar">
          <div class="title pl-1">
            <h3>{{display}}</h3>
          </div>
          <div class="expand">
            <h2>↗</h2>
          </div>
        </div>
        <div class="project-description portable--hide">
          <div>
            <h1 class="mb-1">{{title}}</h1>
            <p class="mb-1">{{{description}}}</p>
            {{#if sub}}
            <p><mark>{{sub}}</mark></p>
            {{/if}}
          </div>
        </div>
        <div class="project"
          style="background-image: url('/images/{{icon}}'); {{#if bg-position}}background-position: {{bg-position}};{{/if}}">
          <img class="desk--hide" src="/images/{{icon_square}}" alt="{{title}}"></div>
      </div>
    </a>
    <div class="desk--hide mt-2">
      <h3 class="mb-1">{{title}}</h3>
      <p class="mb-1">{{{description}}}</p>
      {{#if sub}}
      <p><mark>{{sub}}</mark></p>
      {{/if}}
    </div>
  </div>
  {{/unless}}
  {{/each}}

  <!--
  {{#each gallery}}
  {{#unless hide}}
  <div class="grid__item desk--{{size}} lap--one-half mb-4">
    <div class="mb-2">
      <a class="img-link" href="/{{url}}">
        <img class="portable--hide" src="/images/{{icon}}" alt="{{title}}">
        <img class="desk--hide" src="/images/{{icon_square}}" alt="{{title}}"></a>
      </a>
    </div>
    <div class="title-container hide">
      <h3 class="filename mb-1"><a href="/{{url}}">{{display}}</a></h3>
    </div>
    <div class="grid grid--narrow">
      <div class="grid__item one-whole">
        <h3 class="title-container filename mb-1"><a href="/{{url}}">{{display}}</a></h3>
      </div>
      <div class="grid__item one-half lap--one-whole">
        <p>{{{description}}}</p>
      </div>
      <div class="grid__item one-half lap--one-whole">
        <p class="palm--hide desk--hide">—</p>
        <p>{{sub}}</p>
      </div>
    </div>
  </div>
  {{/unless}}
  {{/each}} -->


</div>

<div class="mb-4 pt-2">
  <h1>I've also built <a href="http://asgraphicstudio.ucsd.edu/" target="_blank">A.S. Graphic Studio</a>, <a
      href="https://frontiers.designatucsd.org/" target="_blank">Design Frontiers</a>, <a
      href="http://camp.designatucsd.org" target="_blank">Design Camp</a>, and <a
      href="http://asgraphicstudio.ucsd.edu/makeart/" target="_blank">Make Art</a>.</h1>
</div>

<script>
  var arr = document.getElementsByClassName('filename');
  for (var i = 0; i < arr.length; i++) {
    arr[i].innerHTML = arr[i].innerHTML.replace(/_/g, '_<wbr/>');
    arr[i].innerHTML = arr[i].innerHTML.replace(/\./g, '.<wbr/>');
  }
</script>